In [ ]:
import pandas as pd

schools_df = pd.read_csv("dataset/schools.csv")

best_math_schools = schools_df[schools_df["average_math"] > 640][
    ["school_name", "average_math"]
].sort_values("average_math", ascending=False)
print(best_math_schools)

print("---")

schools_df["total_SAT"] = (
    schools_df["average_math"]
    + schools_df["average_reading"]
    + schools_df["average_writing"]
)
best_10_schools = schools_df.sort_values("total_SAT", ascending=False)[
    ["school_name", "total_SAT"]
].head(10)
print(best_10_schools)

print("---")

boroughs = (
    schools_df.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)
)
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]
largest_std_dev = largest_std_dev.rename(
    {"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"}
)
largest_std_dev.reset_index(inplace=True)
print(largest_std_dev)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641
---
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
---
     borough  count     mean     std
0  Manhattan     89  1340.13  230.29